<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Imaclean>
            <version>0.1.0</version>
        </Mage_Imaclean>
    </modules>
    <frontend>
        <routers>
            <imaclean>
                <use>standard</use>
                <args>
                    <module>Mage_Imaclean</module>
                    <frontName>imaclean</frontName>
                </args>
            </imaclean>
        </routers>
        <layout>
            <updates>
                <imaclean>
                    <file>imaclean.xml</file>
                </imaclean>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<imaclean>
				<use>admin</use>
				<args>
					<module>Mage_Imaclean</module>
					<frontName>imaclean</frontName>
				</args>
			</imaclean>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<imaclean module="imaclean">
				<title>Imaclean</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="imaclean">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>imaclean/adminhtml_imaclean</action>
					</items>
				</children>
			</imaclean>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mage_Imaclean>
							<title>Imaclean Module</title>
							<sort_order>10</sort_order>
						</Mage_Imaclean>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<imaclean>
					<file>imaclean.xml</file>
				</imaclean>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <imaclean>
                <class>Mage_Imaclean_Model</class>
                <resourceModel>imaclean_mysql4</resourceModel>
            </imaclean>
            <imaclean_mysql4>
                <class>Mage_Imaclean_Model_Mysql4</class>
                <entities>
                    <imaclean>
                        <table>imaclean</table>
                    </imaclean>
                </entities>
            </imaclean_mysql4>
        </models>
        <resources>
            <imaclean_setup>
                <setup>
                    <module>Mage_Imaclean</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imaclean_setup>
            <imaclean_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imaclean_write>
            <imaclean_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imaclean_read>
        </resources>
        <blocks>
            <imaclean>
                <class>Mage_Imaclean_Block</class>
            </imaclean>
        </blocks>
        <helpers>
            <imaclean>
                <class>Mage_Imaclean_Helper</class>
            </imaclean>
        </helpers>
    </global>
</config>